<h2>Reaction:</h2>
<form action="/createArea/reaction" method="GET">
    <p>select an application</p>
    <select name="reaction-app">
        <option value ="twitter">twitter</option>
        <option value ="none">none</option>
        <option value ="none">none</option>
    </select>
    <p>
        <input type="submit" value="Next">
    </p>
</form>
