<h1>Create New AREA</h1>

<form action="/createReaction/trigger" method="GET">
    <p>select a trigger event for reaction:</p>
    <select name="trigger-info">
        <% triggers.forEach(function(trigger){ %>
            <option>
                <%= trigger.name %>
            </option>
        <% }) %>
    </select>
    <p>
        <input type="submit" value="Next">
    </p>
</form>
