<h1>Create New AREA</h1>

<h2>Action:</h2>
<form action="/createArea/create" method="GET">
    <p>select an application</p>
    <select name="action-app">
        <option value ="twitter">twitter</option>
        <option value ="none">none</option>
        <option value ="none">none</option>
    </select>

    <!-- <p>select a trigger event</p>
    <select name="action-trigger">
        <option value ="search hashtag">search hashtag</option>
        <option value ="none">none</option>
        <option value ="none">none</option>
    </select>

    <h2>Reaction:</h2>
    <p>select an application</p>
    <select name="reaction-app">
        <option value ="twitter">twitter</option>
        <option value ="google">google</option>
        <option value ="none">none</option>
    </select>
    <p>select a action event</p>
    <select name="reaction-trigger">
        <option value ="favorite">favorite</option>
        <option value ="none">none</option>
        <option value ="none">none</option>
    </select> -->

    <p><input type="submit" value="Next"></p>
</form>
