<a href="http://127.0.0.1:8080/weather" target=><input type="button" value="Weather" style="width:150px"> </a>
<a href="http://127.0.0.1:8080/map" target=><input type="button" value="Map" style="width:150px"> </a>
      