<!DOCTYPE html>
<html>
  <head>
    <title>Personnaliser</title>
    <body style="background-color:DarkGrey";>
      <center>
	<h1>Personnaliser</h1>
	<h2>Elements a inclure dans le dashboard</h2>
	<FORM>
	  <INPUT type="checkbox" name="choix1" value="1"> meteo
	  <br><INPUT type="checkbox" name="choix2" value="2"> news
	  <br><INPUT type="checkbox" name="choix3" value="3"> epitech intra
	  <br><INPUT type="checkbox" name="choix4" value="4"> gmail
	  <br><INPUT type="checkbox" name="choix4" value="4"> outlook
	  <br><INPUT type="checkbox" name="choix4" value="4"> Yammer
	  <br><INPUT type="checkbox" name="choix4" value="4"> Facebook
	  <br><INPUT type="checkbox" name="choix4" value="4"> Cine
	  <br><INPUT type="checkbox" name="choix4" value="4"> Bourse
	  <br><br><a href="http://127.0.0.1:8080/menu" target=><input type="button" value="Appliquer"> </a>
	</FORM>
      </center>
    </body>
</html>
